video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.App {
  
 background-color: rgba(255, 255, 255, 0.5);
 
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
 
.btn{
  padding: 20px 70px;
  margin-top: 10px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  background-color:hsl(260, 18%, 97%);
  font-family: 'Gideon Roman', cursive;
  font-weight: bold;
  font-size: 20px;
  color: red;
  align-items: center;
  text-transform: capitalize;
}
.btn:hover{
  background-color:hsla(120, 79%, 21%, 0.445);
  color:white;
  
}
.picture{
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  background-color:hsl(260, 18%, 97%);
  margin-left: 0px;
  
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  align-items: center;
  width: min-content;
   }

.icon{
  width: 20px;
  
}
.list{
  display: flex;
  flex-direction: column;
  padding: .4em .4em .4em .8em;
  align-items: center;
  color: black;
}
 

li{
 list-style: none;
 display: block;
 text-align: center;
 color: black;
 font-size: 15px;
 

}
span{
  color: red;
  font-family: 'Gideon Roman', cursive;
  font-weight: bold;
  padding: 5px;
  align-items: center;
  text-transform: capitalize;
}
::placeholder{
  text-align: center;
  color: red;
  font-size: 15px;
  font-weight: bold;

}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
 
}
h1{
  font-family: 'Gideon Roman', cursive;
  text-align: center;
  color: rgb(12, 156, 48);
  padding: 5px;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(18, 5, 78, 0.986);
}
 
  h4, ul,li{
  font-family: 'Gideon Roman', cursive;
  text-align: center;
  font-size: 15px;
}

h2{
  font-family: 'Gideon Roman', cursive;
  text-align: center;
  color: rgb(9, 139, 42);
  text-shadow: 0 1px 0 rgba(18, 5, 78, 0.986);
  font-size: 25px;
}

h4{
  text-decoration: underline;
}
p{
 font-family: 'Gideon Roman', cursive;
 background-color: rgba(255, 255, 255, 0.527);;
 text-align: center;
  color: #044d0b;
  font-weight: bold;
  padding: 5px;
  align-items: center;
}

h3{
  font-family: 'Gideon Roman', cursive;
   text-align: center;
   color: #044d0b;
   font-weight: bold;
   text-align: center;
   margin: 5px;
  
}
.style{
  background-color: rgba(255, 255, 255, 0.336);;
  width: 450px;
} 


@media all and (max-width: 500px) {

  h1{
     
    font-size: 25px;
  }
  h2 {
   
    font-size: 20px;
  }
h3{
  font-size: 15px;
}
  
.btn:hover{
  background-color:hsla(120, 79%, 21%, 0.445);
  color:white;
  
}
}